.rental {
  &__media {
    img {
      width: 100%;
    }

    margin-bottom: 1.875rem;
  }

  &__details {
    color: $text-color;
  }

  &__category {
    font-size: .875rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
  }

  &__owner {
    float: right;

    img {
      display: block;
      height: 3.125rem;
      border-radius: 50%;
      margin: 0 auto;
    }

    span {
      display: block;
      font-size: .8125rem;
      font-weight: 300;
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: .3125rem;
  }

  &__city, &__street {
    font-size: .875rem;
    font-weight: 300;
    margin-bottom: 1.25rem;
  }

  &__quarters {
    font-weight: 300;
    margin-bottom: 1.25rem;

    span {
      margin-right: .625rem;
    }

    .rental__bedrooms {
      margin-right: 0;
    }

    i {
      margin-right: .125rem;
    }
  }

  &__description {
    font-weight: 300;
    margin-bottom: 1.875rem;
  }

  .rating {
    justify-content: left;
  }

  &__amenities {
    h3 {
      font-size: 1.375rem;
      font-weight: 700;
      margin-bottom: .625rem;
    }

    span {
      display: block;
      font-weight: 300;
      margin-bottom: .9375rem;
    }
  }

  &__review {
    margin-bottom: .9375em;

    &-details {
      float: right;
    }
  }
}
