@import 'variables';

.rental {
  &__media {
    img {
      width: 100%;
    }

    margin-bottom: 1.875em;
  }

  &__details {
    color: $text-color;
  }

  &__category {
    font-size: .875rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
  }

  &__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: .3125em;
  }

  &__city {
    font-size: .875rem;
    font-weight: 300;
    margin-bottom: 1.25em;
  }

  &__quarters {
    font-weight: 300;
    margin-bottom: 1.25rem;

    span {
      margin-right: .625em;
    }

    i {
      margin-right: .125em;
    }
  }

  &__description {
    font-weight: 300;
    margin-bottom: 1.875em;
  }

  &__amenities {
    h3 {
      font-size: 1.375rem;
      font-weight: 700;
      margin-bottom: .625em;
    }

    span {
      display: block;
      font-weight: 300;
      margin-bottom: .9375em;
    }
  }
}
