<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/']">
    BookWithMe
    <img src="favicon.ico" alt="Angular">
  </a>

  <form #f="ngForm" class="form-inline">
    <input
      type="search"
      name="city"
      class="form-control mr-sm-2 bwm-filter"
      placeholder="city to filter..."
      aria-label="city to filter..."
      (keyup.enter)="filter(city.value)"
      #city="ngModel"
      ngModel
      required>
    <button
      class="btn btn-outline-success my-2 my-sm-0 btn__filter"
      (click)="filter(city.value)"
      [disabled]="f.invalid">
      Filter Rentals
    </button>
  </form>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <ng-template #anonymousUser>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/login']"
            [routerLinkActive]="'active'">
            Log in <span class="sr-only">(current)</span>
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/register']"
            [routerLinkActive]="'active'">
            Register
          </a>
        </li>
      </ng-template>

      <ng-template [ngIf]="loggedIn" [ngIfElse]="anonymousUser">
        <div class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true">
            Owner Admin
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" [routerLink]="['/rentals/new']">
              Create Rental
            </a>

            <a class="dropdown-item" [routerLink]="['/manage/rentals']">
              Manage Rentals
            </a>

            <a class="dropdown-item" [routerLink]="['/manage/bookings']">
              Manage Bookings
            </a>
          </div>
        </div>

        <li class="nav-item">
          <a class="nav-link">{{ user.name }}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="logout()">Log Out</a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
