@import 'variables';
@import 'rentals';

.bwm-card {
  border: none;
}

.card-block {
  padding-top: .5rem;
}

.card-title {
  color: $text-color;
  font-size: 1.1875rem;
  margin-bottom: .1875rem;
}

.card-subtitle {
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

.card-text {
  color: #7e7e7e;
  font-size: .875rem;
  font-weight: 300;
  margin-bottom: 0;
}
