<section *ngIf="rental" class="rental">
  <section class="rental__media">
    <div class="row">
      <div class="col-md-6">
        <img [src]="rental.image" [alt]="rental.description">
      </div>

      <div class="col-md-6">
        <map [location]="location"></map>
      </div>
    </div>
  </section>

  <section class="rental__details">
    <div class="row">
      <div class="col-md-8">
        <h2 class="rental__category"
          [ngClass]="{
            apartment: rental.category === Category.Apartment,
            condo: rental.category === Category.Condo,
            house: rental.category === Category.House
          }">
          {{ rental.shared ? 'Shared' : 'Entire' }} {{ rental.category }}
        </h2>

        <div class="rental__owner">
          <img
            src="https://api.adorable.io/avatars/285/abott@adorable.png"
            alt="weird green face">

          <span>{{ rental.user.name }}</span>
        </div>

        <h1 class="rental__title">{{ rental.title }}</h1>

        <h2 class="rental__city">{{ rental.city | ucwords }}</h2>

        <div class="rental__quarters">
          <span>
            <i class="fa fa-building"></i>
            {{ rental.bedrooms }} bedrooms
          </span>

          <span>
            <i class="fa fa-user"></i>
            {{ guestCount }} guests
          </span>

          <span>
            <i class="fa fa-bed"></i>
            {{ bedCount }} beds
          </span>
        </div>

        <p class="rental__description">{{ rental.description }}</p>

        <star-rating
          class="rental__rating"
          [starType]="'svg'"
          [numOfStars]="5"
          [showHalfStars]="true"
          [rating]="rental.rating"
          [disabled]="true">
        </star-rating>
        <hr>

        <div class="rental__amenities">
          <h3>Amenities</h3>

          <div class="row">
            <div class="col-md-6">
              <span><i class="fa fa-asterisk"></i> Cooling</span>
              <span><i class="fa fa-thermometer"></i> Heating</span>
              <span><i class="fa fa-location-arrow"></i> Iron</span>
            </div>

            <div class="col-md-6">
              <span><i class="fa fa-desktop"></i> Fitness Area</span>
              <span><i class="fa fa-cube"></i> Washing Machine</span>
              <span><i class="fa fa-cube"></i> Dishwasher</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <booking [rental]="rental"></booking>
      </div>
    </div>

    <div *ngIf="reviews.length" class="row">
      <div class="col-md-8">
        <section>
          <h2>Reviews</h2>

          <div *ngFor="let review of reviews" class="card rental__review">
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <img
                    src="https://image.ibb.co/jw55Ex/def_face.jpg"
                    class="img img-rounded img-fluid">

                  <p class="text-secondary text-center">
                    {{ review.createdAt | date:'longDate' }}
                  </p>
                </div>

                <div class="col-md-10">
                  <div>
                    <a><strong>{{ review.user.name }}</strong></a>

                    <div class="rental__review-details">
                      <star-rating
                        [starType]="'svg'"
                        [numOfStars]="5"
                        [showHalfStars]="true"
                        [rating]="review.rating"
                        [disabled]="true">
                      </star-rating>
                    </div>
                  </div>

                  <div class="clearfix"></div>

                  <p>{{ review.text }}</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
</section>
