<section *ngIf="rental" class="rental">
  <section class="rental__media">
    <div class="row">
      <div class="col-md-6">
        <img [src]="rental.image" [alt]="rental.description">
      </div>

      <div class="col-md-6">
        <map [location]="location"></map>
      </div>
    </div>
  </section>

  <section class="rental__details">
    <div class="row">
      <div class="col-md-8">
        <h2 class="rental__category"
          [ngClass]="{
            apartment: rental.category === Category.Apartment,
            condo: rental.category === Category.Condo,
            house: rental.category === Category.House
          }">
          {{ rental.shared ? 'Shared' : 'Entire' }} {{ rental.category }}
        </h2>

        <h1 class="rental__title">{{ rental.title }}</h1>

        <h2 class="rental__city">{{ rental.city | ucwords }}</h2>

        <div class="rental__quarters">
          <span>
            <i class="fa fa-building"></i>
            {{ rental.bedrooms }} bedrooms
          </span>

          <span>
            <i class="fa fa-user"></i>
            {{ guestCount }} guests
          </span>

          <span>
            <i class="fa fa-bed"></i>
            {{ bedCount }} beds
          </span>
        </div>

        <p class="rental__description">{{ rental.description }}</p>
        <hr>

        <div class="rental__amenities">
          <h3>Amenities</h3>

          <div class="row">
            <div class="col-md-6">
              <span><i class="fa fa-asterisk"></i> Cooling</span>
              <span><i class="fa fa-thermometer"></i> Heating</span>
              <span><i class="fa fa-location-arrow"></i> Iron</span>
            </div>

            <div class="col-md-6">
              <span><i class="fa fa-desktop"></i> Fitness Area</span>
              <span><i class="fa fa-cube"></i> Washing Machine</span>
              <span><i class="fa fa-cube"></i> Dishwasher</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <booking [rental]="rental"></booking>
      </div>
    </div>
  </section>
</section>
