@import 'variables';

.rentals {
  .card {
    margin-bottom: 1.25em;
  }

  .card-block {
    padding: 1.25rem;
  }

  .card-title {
    font-size: .875rem;
  }

  .btn {
    font-size: .75rem;
    margin-left: 1.5em;

    &--ghost {
      background-color: #fff;
      color: $main-color;
      border-color: $main-color;

      &:hover, &:focus, &:active {
        background-color: transparent;
        color: $main-color !important;
        border-color: $main-color !important;
        box-shadow: none;
      }
    }
  }

  .card-footer {
    font-size: .75rem;

    p {
      display: inline-block;
      line-height: 2.5rem;
      margin: 0;
    }

    .confirm-delete {
      font-weight: bold;
      margin-right: .625em;
    }
  }
}
