@import 'variables';

.booking {
  padding: 1.25rem;
  border: .0625rem solid $light-grey;

  &__rate {
    font-size: 1.375rem;
    font-weight: 700;
  }

  &__per-night {
    font-size: .8125rem;
    font-weight: 300;
  }

  &__login-reqd {
    display: block;
    width: 90%;
    background-color: $main-color;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: .625rem;
    border-radius: .625rem;
    margin: 0 auto .625em auto;

    &:hover {
      color: #fff;
    }
  }

  &__confirm {
    background-color: #ff5a5f;
    padding: .8125rem;
    font-size: 1.0625rem;
    font-weight: 700;
  }

  &__interest {
    font-size: .875rem;
    margin-bottom: .625rem;
  }

  &__views {
    font-size: .8125rem;
    font-weight: 300;
  }

  label {
    font-size: .75rem;
    font-weight: 300;
    margin-bottom: 0;
  }

  &__modal {
    &__title {
      font-size: 1.5rem;
      font-weight: 700;
    }

    &__error {
      margin: 1em;
    }

    &__buttons {
      font-size: 1.25rem;
      margin: .9375em 0;
    }

    em {
      font-size: .9375rem;
      font-style: normal;
      font-weight: 700;
    }

    p {
      margin-bottom: .5em;
    }
  }
}

.daterangepicker {
  td {
    &.in-range {
      background-color: #ffa9a9 !important;
    }

    &.active {
      background-color: $main-color !important;

      &:hover {
        background-color: $main-color !important;
      }
    }
  }
}
