<section class="rentals">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="card bwm-card">
        <img
          src="http://via.placeholder.com/350x250"
          alt=""
          class="card-img-top">

        <div class="card-block">
          <h6 class="card-subtitle">Apartment &#183; New York</h6>
          <h4 class="card-title">A nice apartment</h4>
          <p class="card-text">$240/night &#183; Free Cancellation</p>
          <a href="" class="card-link">More information</a>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="card bwm-card">
        <img
          src="http://via.placeholder.com/350x250"
          alt=""
          class="card-img-top">

        <div class="card-block">
          <h6 class="card-subtitle">Apartment &#183; New York</h6>
          <h4 class="card-title">A nice apartment</h4>
          <p class="card-text">$240/night &#183; Free Cancellation</p>
          <a href="" class="card-link">More information</a>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="card bwm-card">
        <img
          src="http://via.placeholder.com/350x250"
          alt=""
          class="card-img-top">

        <div class="card-block">
          <h6 class="card-subtitle">Apartment &#183; New York</h6>
          <h4 class="card-title">A nice apartment</h4>
          <p class="card-text">$240/night &#183; Free Cancellation</p>
          <a href="" class="card-link">More information</a>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="card bwm-card">
        <img
          src="http://via.placeholder.com/350x250"
          alt=""
          class="card-img-top">

        <div class="card-block">
          <h6 class="card-subtitle">Apartment &#183; New York</h6>
          <h4 class="card-title">A nice apartment</h4>
          <p class="card-text">$240/night &#183; Free Cancellation</p>
          <a href="" class="card-link">More information</a>
        </div>
      </div>
    </div>
  </div>
</section>
