<div class="edit-widget" [ngStyle]="style">
  <ng-template [ngIf]="active" [ngIfElse]="title">
    <textarea
      class="{{ entityClass }}"
      [(ngModel)]="entity[key]"
      (keyup.escape)="cancelEdit()"
      (keyup.enter)="updateEntity()">
    </textarea>
  </ng-template>

  <ng-template #title>
    <span class="{{ entityClass }}">{{ entity[key] }}</span>
  </ng-template>

  <div class="edit-widget__buttons">
    <button
      *ngIf="!active"
      class="btn btn-sm btn-warning edit-widget__btn"
      (click)="active = true">
      Edit
    </button>

    <button
      *ngIf="active"
      class="btn btn-sm btn-success edit-widget__btn"
      (click)="updateEntity()"
      [disabled]="entity[key] === originalValue">
      Save
    </button>

    <button
      *ngIf="active"
      class="btn btn-sm btn-danger edit-widget__btn"
      (click)="cancelEdit()">
      Cancel
    </button>
  </div>
</div>
